$dark-blue: #283149;
$slate: #404b69;
$slate-darken: #333d5a;
$bright-red: #f73859;
$light-blue: #dbedf3;
$white-ish: #e8edee;
$grey-ish: #47474D;

// // Update Bulma's global variables
$grey-darker: #20232b;
// $grey-light: $beige-light;
$primary: $bright-red;

$info: $light-blue;

$text: $white-ish;
$text-strong: $white-ish;
// $link: $blue;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// $family-primary: 'Source Sans Pro', serif;
// $family-secondary: 'Lora', serif;

// // Update some of Bulma's component variables
$body-background-color: $dark-blue;

// Inputs
$label-color: $white-ish;
$control-radius: 0;
$input-color: $white-ish;
$input-background-color: $slate;
$input-border-color: $slate;
$input-hover-border-color: $slate;
$input-focus-color: $white-ish;
$input-focus-border-color: $slate;
$input-focus-box-shadow-color: none;
$input-shadow: none;
$input-radius: 0;

// Update Bulma Panel Component
$panel-radius: 0;
$panel-shadow: none;
$panel-heading-background-color: $slate-darken;
$panel-heading-color: $white-ish;
$panel-item-border: 2px solid $slate-darken;